[global_config]
	title_transmit_bg_color = "{{ terminator-title-background-color }}"
	focus = system
[keybindings]
[profiles]
	[[default]]
		# {{ theme-name-lowercase }}
		# palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
		# foreground_color = "#eee8d5"
		# background_color = "#002b36"
		# cursor_color = "#eee8d5"

	[[{{ theme-name-lowercase }}]]
		# palette = "{{ gray-1 }}:{{ gray-2 }}:{{ gray-3 }}:{{ cyan }}:{{ blue }}:{{ purple }}:{{ green }}:{{ red-1 }}:{{ red-2 }}:{{ orange-1 }}:{{ orange-2 }}"
		palette = "{{ background-color }}:{{ red-1 }}:{{ green }}:{{ orange-1 }}:{{ blue }}:{{ purple }}:{{ cyan }}:{{ foreground-color }}:{{ background-color }}:{{ orange-2 }}:{{ gray-3 }}:{{ gray-2 }}:{{ gray-1 }}:{{ purple }}:{{ gray-1 }}:{{ foreground-color }}"
		foreground_color = "{{ foreground-color }}"
		background_color = "{{ background-color }}"
		cursor_color = "{{ foreground-color }}"

	[layouts]
		[[default]]
			[[[child1]]]
				type = Terminal
				parent = window0
				profile = {{ theme-name-lowercase }}
			[[[window0]]]
				type = Window
				parent = ""
	[plugins]
